<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
</head>
<body>
	<h1>Contact</h1>
	<p>Address: 351 W Hubbard St, Chicago, IL 60654<br></p>
	<p>Phone number: 877-431-9044<br><br></p>
</body>
</html>