body {
	width: 960px;
}

.octopus {
	position: relative;
	display: block;
	margin-left: 480px;
	margin-right: 480px;
	margin-top: 5em;
	width: 15em;
	z-index: -1;
}

.hat {
	position: absolute;
	top: 0;
	left: 30em;
	z-index: 1;
}

.glasses {
	position: absolute;
	top: 12.5em;
	left: 34em;
	z-index: 2;
}